
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-bottom: 50px;
  box-sizing: border-box;
  background-image: url('../image/back.png');
  background-size: cover;
  color: black; /* テキストの色を白に変更 */
  cursor: url('../image/cursor.png')16 16, auto;
  position: relative;
}


.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2列のグリッドを作成 */
  grid-gap: 10px; /* グリッドのギャップ */
  margin-bottom: 0; /* 画面下部の余白 */
}

.text {
  margin-bottom: 10%;
  font-size: 10px;
  /* font-weight: bold; フォントを太字に設定 */
  color: #ffffff;
  cursor: url('../image/cursor.png')16 16, auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* gap: 15px; */
  cursor: url('../image/cursor.png')16 16, auto;
  
}



.button-container img {
  width: 400px; /* 画像の幅 */
  height: auto; /* 画像の高さを比率を保って自動調整 */
  cursor: pointer; /* カーソルをポインターに変更 */
  border: none; /* ボーダーなし */
  margin: 15px 15px; /* 上下の余白 */
  cursor: url('../image/cursor.png')16 16, auto;
}

.button-container img:hover {
  opacity: 0.5; /* ホバー時に透明度を変更 */
}

.image-container img {
  display: block;
  margin: auto; /* This will center the image */
  width: 30%; /* Set the width of the image */
  height: auto; /* This will keep the aspect ratio of the image intact */
  /* cursor: url(../image/cursor.png),auto; */
  cursor: url('../image/cursor.png')16 16, auto;
}

.button-container button {
  padding: 5px;
  font-size: 15px;
  background-color: #464646;
  color: white;
  cursor: url('../image/cursor.png')16 16, auto;
}

.button-container p {
  background-color: rgb(199, 199, 199); /* 背景色をグレーに設定 */
  font-size: 12px;
  margin-left: 10px; /* ボタンとの間隔 */
  padding: 5px; /* 内側の余白 */
  /* 他に必要なスタイルがあればここに追加 */
}

/* .hoge {
  cursor: url(../image/cursor.png),auto;
} */

